service-core-aar/src/main/resources/META-INF/KomaduService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
#
# Copyright 2014 The Trustees of Indiana University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
-->
<wsdl:definitions name="KomaduService"
                  targetNamespace="http://komadu.d2i.indiana.edu"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://komadu.d2i.indiana.edu"
                  xmlns:qi="http://komadu.d2i.indiana.edu/query"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://komadu.d2i.indiana.edu"
                        schemaLocation="komadu_ingest_schema.xsd"/>
            <xsd:import namespace="http://komadu.d2i.indiana.edu/query"
                        schemaLocation="komadu_query_schema.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!--Ingest API Messages-->
    <wsdl:message name="addAgentActivityRelationshipRequest">
        <wsdl:part name="parameters" element="tns:addAgentActivityRelationship"/>
    </wsdl:message>
    <wsdl:message name="addAgentEntityRelationshipRequest">
        <wsdl:part name="parameters" element="tns:addAgentEntityRelationship"/>
    </wsdl:message>
    <wsdl:message name="addActivityEntityRelationshipRequest">
        <wsdl:part name="parameters" element="tns:addActivityEntityRelationship"/>
    </wsdl:message>
    <wsdl:message name="addAgentAgentRelationshipRequest">
        <wsdl:part name="parameters" element="tns:addAgentAgentRelationship"/>
    </wsdl:message>
    <wsdl:message name="addActivityActivityRelationshipRequest">
        <wsdl:part name="parameters" element="tns:addActivityActivityRelationship"/>
    </wsdl:message>
    <wsdl:message name="addEntityEntityRelationshipRequest">
        <wsdl:part name="parameters" element="tns:addEntityEntityRelationship"/>
    </wsdl:message>
    <wsdl:message name="addAttributesRequest">
        <wsdl:part name="parameters" element="tns:addAttributes"/>
    </wsdl:message>
    
    <!--Query API Messages-->
    <wsdl:message name="findActivityRequest">
        <wsdl:part name="parameters" element="qi:findActivityRequest" />
    </wsdl:message>
    
    <wsdl:message name="findActivityResponse">
        <wsdl:part name="parameters" element="qi:findActivityResponse" />
    </wsdl:message>

    <wsdl:message name="getActivityDetailRequest">
        <wsdl:part name="parameters" element="qi:getActivityDetailRequest" />
    </wsdl:message>

    <wsdl:message name="getActivityDetailResponse">
        <wsdl:part name="parameters" element="qi:getActivityDetailResponse" />
    </wsdl:message>

    <wsdl:message name="findEntityRequest">
        <wsdl:part name="parameters" element="qi:findEntityRequest" />
    </wsdl:message>

    <wsdl:message name="findEntityResponse">
        <wsdl:part name="parameters" element="qi:findEntityResponse" />
    </wsdl:message>

    <wsdl:message name="getEntityDetailRequest">
        <wsdl:part name="parameters" element="qi:getEntityDetailRequest" />
    </wsdl:message>

    <wsdl:message name="getEntityDetailResponse">
        <wsdl:part name="parameters" element="qi:getEntityDetailResponse" />
    </wsdl:message>

    <wsdl:message name="getContextWorkflowGraphRequest">
        <wsdl:part name="parameters" element="qi:getContextWorkflowGraphRequest" />
    </wsdl:message>
    
    <wsdl:message name="getContextWorkflowGraphResponse">
        <wsdl:part name="parameters" element="qi:getContextWorkflowGraphResponse" />
    </wsdl:message>

    <wsdl:message name="getActivityGraphRequest">
        <wsdl:part name="parameters" element="qi:getActivityGraphRequest" />
    </wsdl:message>
    
    <wsdl:message name="getActivityGraphResponse">
        <wsdl:part name="parameters" element="qi:getActivityGraphResponse" />
    </wsdl:message>

    <wsdl:message name="getEntityGraphRequest">
        <wsdl:part name="parameters" element="qi:getEntityGraphRequest" />
    </wsdl:message>
    
    <wsdl:message name="getEntityGraphResponse">
        <wsdl:part name="parameters" element="qi:getEntityGraphResponse" />
    </wsdl:message>

    <wsdl:message name="getAgentGraphRequest">
        <wsdl:part name="parameters" element="qi:getAgentGraphRequest" />
    </wsdl:message>

    <wsdl:message name="getAgentGraphResponse">
        <wsdl:part name="parameters" element="qi:getAgentGraphResponse" />
    </wsdl:message>

    <wsdl:portType name="KomaduService">
        <!-- ========================================== -->
        <!-- == INGEST OPERATIONS ==                     -->
        <!-- ========================================== -->
        <wsdl:operation name="addAgentActivityRelationship">
            <wsdl:input message="tns:addAgentActivityRelationshipRequest"/>
        </wsdl:operation>
        <wsdl:operation name="addAgentEntityRelationship">
            <wsdl:input message="tns:addAgentEntityRelationshipRequest"/>
        </wsdl:operation>
        <wsdl:operation name="addActivityEntityRelationship">
            <wsdl:input message="tns:addActivityEntityRelationshipRequest"/>
        </wsdl:operation>
        <wsdl:operation name="addAgentAgentRelationship">
            <wsdl:input message="tns:addAgentAgentRelationshipRequest"/>
        </wsdl:operation>
        <wsdl:operation name="addActivityActivityRelationship">
            <wsdl:input message="tns:addActivityActivityRelationshipRequest"/>
        </wsdl:operation>
        <wsdl:operation name="addEntityEntityRelationship">
            <wsdl:input message="tns:addEntityEntityRelationshipRequest"/>
        </wsdl:operation>
        <wsdl:operation name="addAttributes">
            <wsdl:input message="tns:addAttributesRequest"/>
        </wsdl:operation>

        <!-- ========================================== -->
        <!-- == QUERY OPERATIONS ==                     -->
        <!-- ========================================== -->
        <!--Execution Level-->
        <wsdl:operation name="findActivity">
            <wsdl:input message="tns:findActivityRequest" />
            <wsdl:output message="tns:findActivityResponse" />
        </wsdl:operation>

        <wsdl:operation name="getActivityDetail">
            <wsdl:input message="tns:getActivityDetailRequest" />
            <wsdl:output message="tns:getActivityDetailResponse" />
        </wsdl:operation>

        <wsdl:operation name="findEntity">
            <wsdl:input message="tns:findEntityRequest" />
            <wsdl:output message="tns:findEntityResponse" />
        </wsdl:operation>

        <wsdl:operation name="getEntityDetail">
            <wsdl:input message="tns:getEntityDetailRequest" />
            <wsdl:output message="tns:getEntityDetailResponse" />
        </wsdl:operation>

        <wsdl:operation name="getContextWorkflowGraph">
            <wsdl:input message="tns:getContextWorkflowGraphRequest" />
            <wsdl:output message="tns:getContextWorkflowGraphResponse" />
        </wsdl:operation>

        <wsdl:operation name="getActivityGraph">
            <wsdl:input message="tns:getActivityGraphRequest" />
            <wsdl:output message="tns:getActivityGraphResponse" />
        </wsdl:operation>

        <wsdl:operation name="getEntityGraph">
            <wsdl:input message="tns:getEntityGraphRequest" />
            <wsdl:output message="tns:getEntityGraphResponse" />
        </wsdl:operation>

        <wsdl:operation name="getAgentGraph">
            <wsdl:input message="tns:getAgentGraphRequest" />
            <wsdl:output message="tns:getAgentGraphResponse" />
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="KomaduServiceBinding" type="tns:KomaduService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--in only operations-->
        <wsdl:operation name="addAgentActivityRelationship">
            <soap:operation
                    soapAction="http://komadu.d2i.indiana.edu/addAgentActivityRelationship"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addAgentEntityRelationship">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/addAgentEntityRelationship"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addActivityEntityRelationship">
            <soap:operation
                    soapAction="http://komadu.d2i.indiana.edu/addActivityEntityRelationship"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addAgentAgentRelationship">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/addAgentAgentRelationship"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addActivityActivityRelationship">
            <soap:operation
                    soapAction="http://komadu.d2i.indiana.edu/addActivityActivityRelationship"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addEntityEntityRelationship">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/addEntityEntityRelationship"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addAttributes">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/addAttributes"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <!--Query operations-->
        <!--Execution level-->
        <wsdl:operation name="findActivity">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/findActivity" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getActivityDetail">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/getActivityDetail" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="findEntity">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/findEntity" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getEntityDetail">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/getEntityDetail" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getContextWorkflowGraph">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/getContextWorkflowGraph" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getActivityGraph">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/getActivityGraph" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getEntityGraph">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/getEntityGraph" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getAgentGraph">
            <soap:operation soapAction="http://komadu.d2i.indiana.edu/getAgentGraph" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="KomaduService">
        <wsdl:port name="KomaduServiceSOAP" binding="tns:KomaduServiceBinding">
            <soap:address location="http://komadu.d2i.indiana.edu"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>