client-core-messaging/config/komadu_query_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
#
# Copyright 2014 The Trustees of Indiana University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:komadu="http://komadu.d2i.indiana.edu"
        xmlns:prov="http://www.w3.org/ns/prov#"
        xmlns:qi="http://komadu.d2i.indiana.edu/query"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://komadu.d2i.indiana.edu/query"
        xml:lang="en">

    <annotation>
        <documentation>
            Komadu Query Schema API.
            Author: Isuru Suriarachchi
        </documentation>
    </annotation>

    <import namespace="http://komadu.d2i.indiana.edu"
            schemaLocation="komadu_ingest_schema.xsd"/>
    <import namespace="http://www.w3.org/ns/prov#"
            schemaLocation="prov-20130307.xsd" />

    <simpleType name="detailEnumType">
        <restriction base="xsd:string">
            <enumeration value="COARSE" />
            <enumeration value="FINE" />
        </restriction>
    </simpleType>

    <simpleType name="entityEnumType">
        <restriction base="xsd:string">
            <enumeration value="FILE" />
            <enumeration value="BLOCK" />
            <enumeration value="COLLECTION" />
            <enumeration value="GENERIC" />
        </restriction>
    </simpleType>

    <complexType name="getServiceDetailRequestType">
        <choice>
            <sequence>
                <element name="uniqueURIList" type="qi:uniqueURIListType" />
            </sequence>
            <sequence>
                <element name="uniqueIDList" type="qi:uniqueIDListType" />
            </sequence>
        </choice>
    </complexType>

    <complexType name="getServiceDetailResponseType">
        <sequence>
            <element name="serviceDetailList" type="qi:serviceDetailListType" />
        </sequence>
    </complexType>

    <complexType name="getEntityDetailRequestType">
        <sequence>
            <element name="entityIDList" type="qi:entityIDListType" />
        </sequence>
    </complexType>
    
    <complexType name="getEntityDetailResponseType">
        <sequence>
            <element name="entityDetailList" type="qi:entityDetailListType" />
        </sequence>
    </complexType>

    <complexType name="findEntityRequestType">
        <sequence>
            <choice>
                <sequence>
                    <element minOccurs="0" name="blockName" type="xsd:string" />
                    <element minOccurs="0" name="blockContent" type="xsd:string" />
                    <element minOccurs="0" name="blockMD5Checksum" type="xsd:string" />
                    <element minOccurs="0" name="blockSize" type="xsd:long" />
                    <element minOccurs="0" name="blockIsInstanceOfEntity"
                             type="xsd:string" />
                </sequence>
                <sequence>
                    <element minOccurs="0" name="fileName" type="xsd:string" />
                    <element minOccurs="0" name="fileURI" type="xsd:string" />
                    <element minOccurs="0" name="fileOwnerID" type="xsd:string" />
                    <element minOccurs="0" name="fileCreationDate" type="xsd:dateTime" />
                    <element minOccurs="0" name="fileMD5Checksum" type="xsd:string" />
                    <element minOccurs="0" name="fileSize" type="xsd:long" />
                    <element minOccurs="0" name="fileIsInstanceOfEntity"
                             type="xsd:string" />
                </sequence>
            </choice>
        </sequence>
    </complexType>

    <complexType name="findEntityResponseType">
        <choice>
            <sequence>
                <element name="uniqueBlockIDList" type="qi:uniqueIDListType" />
            </sequence>
            <sequence>
                <element name="uniqueFileURIList" type="qi:uniqueFileListType" />
            </sequence>
        </choice>
    </complexType>

    <complexType name="findAbstractServiceRequestType">
        <choice>
            <element name="returnAll" type="xsd:boolean" />
            <sequence>
                <element minOccurs="0" name="methodName" type="xsd:string" />
                <element minOccurs="0" name="workflowID" type="xsd:string" />
                <!--<element minOccurs="0" name="subServiceName" type="xsd:string" />-->
                <element minOccurs="0" name="nextServiceName" type="xsd:string" />
                <element minOccurs="0" name="serviceName" type="xsd:string" />
                <element minOccurs="0" name="version" type="xsd:string" />
                <element minOccurs="0" name="attributeList" type="komadu:attributesType" />
                <element minOccurs="0" name="isInputOfEntityID" type="xsd:string" />
                <element minOccurs="0" name="isOutputOfEntityID" type="xsd:string" />
                <element minOccurs="0" name="hasInstanceOfService" type="xsd:string" />
            </sequence>
        </choice>
    </complexType>

    <complexType name="findAbstractServiceResponseType">
        <sequence>
            <element name="uniqueIDList" type="qi:uniqueIDListType" />
            <element name="serviceNameList" type="qi:serviceIDListType" />
        </sequence>
    </complexType>

    <complexType name="getAbstractServiceDetailRequestType">
        <sequence>
            <element name="uniqueIDList" type="qi:uniqueIDListType" />
        </sequence>
    </complexType>
    <complexType name="getAbstractServiceDetailResponseType">
        <sequence>
            <element name="abstractServiceDetailListType" type="qi:abstractServiceDetailListType" />
        </sequence>
    </complexType>

    <complexType name="findServiceRequestType">
        <all>
            <element minOccurs="0" name="name" type="xsd:string" />
            <element minOccurs="0" name="hostName" type="xsd:string" />
            <element minOccurs="0" name="architecture" type="xsd:string" />
            <!--TODO : Add following attributes later?-->
            <!--<element minOccurs="0" name="initializationTime" type="xsd:dateTime" />-->
            <!--<element minOccurs="0" name="terminationTime" type="xsd:dateTime" />-->
            <!--<element minOccurs="0" name="isSuccess" type="xsd:boolean" />-->
            <element minOccurs="0" name="workflowID" type="xsd:string" />
            <element minOccurs="0" name="subServiceID" type="xsd:string" />
            <element minOccurs="0" name="nextServiceID" type="xsd:string" />
            <element minOccurs="0" name="attributeList" type="komadu:attributesType" />
        </all>
    </complexType>

    <complexType name="findServiceResponseType">
        <choice>
            <sequence>
                <element name="uniqueURIList" type="qi:uniqueURIListType" />
            </sequence>
            <sequence>
                <element name="serviceIDList" type="qi:serviceIDListType" />
            </sequence>
        </choice>
    </complexType>

    <complexType name="getContextWorkflowGraphRequestType">
        <all>
            <element name="contextWorkflowURI" type="xsd:string" />
            <element minOccurs="0" name="informationDetailLevel" type="qi:detailEnumType" />
        </all>
    </complexType>

    <complexType name="getContextWorkflowGraphResponseType">
        <choice>
            <element ref="prov:document" />
        </choice>
    </complexType>

    <complexType name="getActivityGraphRequestType">
        <all>
            <element name="activityURI" type="xsd:string" />
            <element minOccurs="0" name="informationDetailLevel" type="qi:detailEnumType" />
        </all>
    </complexType>

    <complexType name="getActivityGraphResponseType">
        <choice>
            <element ref="prov:document" />
        </choice>
    </complexType>

    <complexType name="getEntityGraphRequestType">
        <all>
            <element name="entityURI" type="xsd:string" />
            <element name="entityType" type="qi:entityEnumType" />
            <element minOccurs="0" name="informationDetailLevel" type="qi:detailEnumType" />
        </all>
    </complexType>

    <complexType name="getEntityGraphResponseType">
        <choice>
            <element ref="prov:document" />
        </choice>
    </complexType>

    <complexType name="getAgentGraphRequestType">
        <all>
            <element name="agentID" type="xsd:string"/>
            <element minOccurs="0" name="informationDetailLevel" type="qi:detailEnumType" />
        </all>
    </complexType>

    <complexType name="getAgentGraphResponseType">
        <choice>
            <element ref="prov:document" />
        </choice>
    </complexType>

    <complexType name="findAbstractMethodRequestType">
        <choice>
            <element name="returnAll" type="xsd:boolean" />
            <sequence>
                <element minOccurs="0" name="serviceIDList" type="qi:serviceIDListType" />
                <element minOccurs="0" name="methodNameList" type="qi:methodNameListType" />
                <element minOccurs="0" name="methodParamsName" type="xsd:string" />
                <element minOccurs="0" name="annotationList" type="komadu:attributesType" />
                <element minOccurs="0" name="isInputOfEntityID" type="xsd:string" />
                <element minOccurs="0" name="isOutputOfEntityID" type="xsd:string" />
                <element minOccurs="0" name="hasInstanceOfMethod" type="xsd:string" />
            </sequence>
        </choice>
    </complexType>

    <complexType name="findAbstractMethodResponseType">
        <choice>
            <sequence>
                <element name="uniqueIDList" type="qi:uniqueIDListType" />
            </sequence>
            <sequence>
                <element name="methodNameList" type="qi:methodNameListType" />
            </sequence>
        </choice>
    </complexType>

    <complexType name="getAbstractMethodDetailRequestType">
        <sequence>
            <element name="uniqueIDList" type="qi:uniqueIDListType" />
        </sequence>
    </complexType>

    <complexType name="getAbstractMethodDetailResponseType">
        <sequence>
            <element name="abstractMethodList" type="qi:abstractMethodListType" />
        </sequence>
    </complexType>

    <complexType name="findAbstractEntityRequestType">
        <choice>
            <element name="returnAll" type="xsd:boolean" />
            <sequence>
                <element minOccurs="0" name="entityNameList" type="qi:entityNameListType" />
                <element minOccurs="0" name="entityTypeList" type="qi:entityTypeListType" />
                <element minOccurs="0" name="isInputOfServiceID" type="xsd:string" />
                <element minOccurs="0" name="isOutputOfServiceID" type="xsd:string" />
                <element minOccurs="0" name="isInputOfMethodID" type="xsd:string" />
                <element minOccurs="0" name="isOutputOfMethodID" type="xsd:string" />
                <element minOccurs="0" name="hasInstanceOfEntity" type="xsd:string" />
            </sequence>
        </choice>
    </complexType>

    <complexType name="findAbstractEntityResponseType">
        <sequence>
            <element name="uniqueIDList" type="qi:uniqueIDListType" />
            <element name="entityNameList" type="qi:entityNameListType" />
        </sequence>
    </complexType>

    <complexType name="getAbstractEntityDetailRequestType">
        <sequence>
            <element name="entityIDList" type="qi:entityIDListType" />
        </sequence>
    </complexType>

    <complexType name="getAbstractEntityDetailResponseType">
        <sequence>
            <element name="abstractEntityList" type="qi:abstractEntityListType" />
        </sequence>
    </complexType>

    <complexType name="serviceDetailListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="serviceDetail"
                     type="qi:serviceDetail" />
        </sequence>
    </complexType>

    <complexType name="serviceDetail">
        <all>
            <element name="type" type="xsd:string" />
            <element minOccurs="0" name="workflowID" type="xsd:string" />
            <element minOccurs="0" name="serviceID" type="xsd:string" />
            <element minOccurs="0" name="timestep" type="xsd:int" />
            <element minOccurs="0" name="workflowNodeID" type="xsd:string" />
            <element minOccurs="0" name="instanceOf" type="xsd:string" />
            <!--<element minOccurs="0" name="invocationStartTime" type="xsd:dateTime"/>-->
            <!--<element minOccurs="0" name="executionEndTime" type="xsd:dateTime"/>-->
            <!--<element minOccurs="0" name="executionStatus" type="xsd:string"/>-->
        </all>
        <attribute name="id" type="xsd:string" use="required"/>
    </complexType>

    <complexType name="uniqueURIListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="uniqueURI" type="xsd:anyURI" />
        </sequence>
    </complexType>
    <complexType name="serviceIDListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="serviceID" type="xsd:string" />
        </sequence>
    </complexType>
    <complexType name="uniqueIDListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="uniqueID"
                     type="xsd:string" />
        </sequence>
    </complexType>
    <complexType name="abstractServiceDetailListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="abstractServiceDetail"
                     type="qi:abstractServiceDetail" />
        </sequence>
    </complexType>
    <complexType name="abstractServiceDetail">
        <all>
            <element name="type" type="xsd:string" />
            <!--<element minOccurs="0" name="subtype" type="xsd:string" />-->
            <element minOccurs="0" name="name" type="xsd:string" />
            <element minOccurs="0" name="version" type="xsd:string" />
            <!--<element minOccurs="0" name="creationTime" type="xsd:string" />-->
        </all>
        <attribute name="id" type="xsd:string" use="required"/>
    </complexType>
    <complexType name="methodNameListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="methodName"
                     type="xsd:string" />
        </sequence>
    </complexType>
    <complexType name="abstractMethodListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="abstractMethod"
                     type="xsd:string" />
        </sequence>
    </complexType>
    <complexType name="entityNameListType">
        <sequence>
            <element maxOccurs="unbounded" name="entityName" type="xsd:string" />
        </sequence>
    </complexType>
    <complexType name="entityTypeListType">
        <sequence>
            <element maxOccurs="unbounded" name="entityType" type="qi:entityEnumType" />
        </sequence>
    </complexType>
    <complexType name="entityIDListType">
        <sequence>
            <element maxOccurs="unbounded" name="entityID" type="xsd:string" />
        </sequence>
    </complexType>
    <complexType name="abstractEntityListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="abstractEntityDetail"
                     type="qi:abstractEntityDetail" />
        </sequence>
    </complexType>
    <complexType name="abstractEntityDetail">
        <sequence>
            <element name="name" type="xsd:string" />
            <element name="type" type="xsd:string" />
        </sequence>
        <attribute name="id" type="xsd:string" use="required"/>
    </complexType>
    <complexType name="uniqueFileListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="fileURIDetailsType"
                     type="qi:fileURIDetailsType" />
        </sequence>
    </complexType>
    <complexType name="fileURIDetailsType">
        <sequence>
            <element name="fileID" type="xsd:string" />
            <element name="fileURI" type="xsd:string" />
            <element minOccurs="0" name="creationDate" type="xsd:dateTime" />
        </sequence>
    </complexType>
    <complexType name="entityDetailListType">
        <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="entityDetail"
                     type="qi:entityDetail" />
        </sequence>
    </complexType>
    <complexType name="entityDetail">
        <choice>
            <sequence>
                <element name="fileURI" type="xsd:anyURI" />
                <element minOccurs="0" name="owner" type="xsd:string" />
                <element minOccurs="0" name="creationDate" type="xsd:dateTime" />
                <element minOccurs="0" name="size" type="xsd:long" />
                <element minOccurs="0" name="md5" type="xsd:string" />
                <element minOccurs="0" name="fileName" type="xsd:string" />
            </sequence>
            <sequence>
                <element name="blockContent" type="xsd:string" />
                <element minOccurs="0" name="size" type="xsd:long" />
                <element minOccurs="0" name="md5" type="xsd:string" />
            </sequence>
            <sequence>
                <element name="collectionURI" type="xsd:string" />
                <sequence>
                    <element minOccurs="0" maxOccurs="unbounded" name="membership"
                             type="qi:membershipDetail" />
                </sequence>
            </sequence>
        </choice>
        <attribute name="id" type="xsd:string" use="required"/>
    </complexType>
    <complexType name="membershipDetail">
        <all>
            <element name="entityType" type="qi:entityEnumType" />
            <element minOccurs="0" name="instanceOf" type="xsd:string" />
        </all>
        <attribute name="id" type="xsd:string" use="required"/>
    </complexType>


    <!-- ======================================================================== -->
    <!-- ==   GLOBAL ELEMENTS DEFINITION                                       == -->
    <!-- ======================================================================== -->
    <element name="findAbstractServiceRequest" type="qi:findAbstractServiceRequestType" />
    <element name="findAbstractServiceResponse" type="qi:findAbstractServiceResponseType" />
    
    <element name="getAbstractServiceDetailRequest" type="qi:getAbstractServiceDetailRequestType" />
    <element name="getAbstractServiceDetailResponse" type="qi:getAbstractServiceDetailResponseType" />
    
    <element name="findAbstractMethodRequest" type="qi:findAbstractMethodRequestType" />
    <element name="findAbstractMethodResponse" type="qi:findAbstractMethodResponseType" />
    
    <element name="getAbstractMethodDetailRequest" type="qi:getAbstractMethodDetailRequestType" />
    <element name="getAbstractMethodDetailResponse" type="qi:getAbstractMethodDetailResponseType" />
    
    <element name="findAbstractEntityRequest" type="qi:findAbstractEntityRequestType" />
    <element name="findAbstractEntityResponse" type="qi:findAbstractEntityResponseType" />
    
    <element name="getAbstractEntityDetailRequest" type="qi:getAbstractEntityDetailRequestType" />
    <element name="getAbstractEntityDetailResponse" type="qi:getAbstractEntityDetailResponseType" />
    
    <element name="findServiceRequest" type="qi:findServiceRequestType" />
    <element name="findServiceResponse" type="qi:findServiceResponseType" />

    <element name="getServiceDetailRequest" type="qi:getServiceDetailRequestType" />
    <element name="getServiceDetailResponse" type="qi:getServiceDetailResponseType" />

    <element name="findEntityRequest" type="qi:findEntityRequestType" />
    <element name="findEntityResponse" type="qi:findEntityResponseType" />

    <element name="getEntityDetailRequest" type="qi:getEntityDetailRequestType" />
    <element name="getEntityDetailResponse" type="qi:getEntityDetailResponseType" />

    <element name="getContextWorkflowGraphRequest" type="qi:getContextWorkflowGraphRequestType" />
    <element name="getContextWorkflowGraphResponse" type="qi:getContextWorkflowGraphResponseType" />

    <element name="getActivityGraphRequest" type="qi:getActivityGraphRequestType" />
    <element name="getActivityGraphResponse" type="qi:getActivityGraphResponseType" />

    <element name="getEntityGraphRequest" type="qi:getEntityGraphRequestType" />
    <element name="getEntityGraphResponse" type="qi:getEntityGraphResponseType" />

    <element name="getAgentGraphRequest" type="qi:getAgentGraphRequestType" />
    <element name="getAgentGraphResponse" type="qi:getAgentGraphResponseType" />

</schema>